body, h1, h2, p, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
main{
    width: 100%;
}
#services{
    background: linear-gradient(45deg, #00aaff, #0012ff);
    color: white;
    padding: 2rem 1.5rem;
    text-align: center;
}
#services h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.ser-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1;
}
.services{
    /* background-color: white;
    color: #0012ff; */
    padding: 1.5rem;
    border-radius: 10px;
    max-width: 300px;
    text-align: left;
}
.services h2 {
    margin-bottom: 1rem;
}
.services a{
    /* color: #0012ff; */
    margin-top: 2rem;
    padding-top: 2rem;
    text-decoration: none;
    font-weight: bold;

}

/* ==== footer ==== */
footer h1{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: 600;
}