  body, h1, h2, h3, p, a, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  main {
    width: 100%;
  }
  #case-study {
    display: flex;
    flex-wrap: wrap;
    background-color: #f4f4f4;
  }
  .case-study-content {
    margin-left: 10%;
    margin-right: 10%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .case-study-content h2{
    font-size: 30px;
    margin-bottom: 2rem;
  }
  .case-study-content h3{
    font-size: 17px;
    margin-bottom: 1rem;
  }
  .case-study-content a {
    margin-top: 2rem;
    color: #0012ff;
    text-decoration: none;
    border: 2px solid #0012ff;
    padding: 0.5rem 0.5rem;
    border-radius: 30px;
    text-align: center;
    width: 160px;
  }
  .case-study-image {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  .case-study-image img {
    max-width: 100%;
    height: 100%;
  }
  #contact {
    background: url('/img/intrior\ desgning.jpg') center/cover no-repeat, 
    rgba(4, 33, 196, 1);
    background-blend-mode: overlay;
    color: white;
    text-align: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #contact form {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
  }
  #contact input {
    padding: 0.5rem;
    width: 250px;
    border-bottom: 1px solid white;
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    color: white;
    outline: none;
  }
  #contact button {
    padding: 0.2rem 2rem;
    background: white;
    color: #0012ff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    font-weight: bold;
  }